
/* general elements styles */

body {
    margin: 0;
    font: 10px verdana, geneva, arial, sans-serif;
    color: #000000;
    background-color: #FFFFFF;
}

/* td, th, .bod, font {
    font: 10px verdana, geneva, arial, sans-serif;
    color: #000000;
} */

b, strong {
    font-weight: bold;
}

a {
    font: 10px verdana, geneva, arial, sans-serif;
    color: #485C98;
    text-decoration: none;
}

a:hover {
    color: #687FC0;
}

/* custom styles */

.logo {
    font: 15px Georgia, Times;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    width: 122px;
    height: 19px;
    background-color: #22397A;
    position: absolute;
    top: 15px;
    left: 0px;
    z-index: 10;
}

.header {
    font: 12px verdana, geneva, arial, sans-serif;
    color: #485E9C;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.section {
    font: 11px verdana, geneva, arial, sans-serif;
    color: #000000;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.copy {
    font: 10px verdana, geneva, arial, sans-serif;
    color: #000000;
    padding-bottom: 5px;
}

.listrow1 {
    font: 10px verdana, geneva, arial, sans-serif;
    color: #000000;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 2px;
}

.listrow0 {
    font: 10px verdana, geneva, arial, sans-serif;
    color: #000000;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 2px;
    text-decoration: line-through;
}

.formlabel {
    font: 10px verdana, geneva, arial, sans-serif;
    font-weight: bold;
    color: #000000;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.banner {
    padding-top: 15px;
    padding-bottom: 10px;
}

.dotrule {
    background-image: url(../_img/bg_15dot_rule.gif);
}

.error {
    padding-top: 15px;
    color: #990000;
}

.paging {
    padding-top: 5px;
    padding-bottom: 5px;
}

.forumhead {
    background: #cccccc;
    padding: 6px;
    margin-bottom: 6px;
}

.forumreplyhead {
    color: #333333;
	margin-bottom: 12px;
}

/* form field styles */

.textfield {
    font: 10px verdana, geneva, arial, sans-serif;
    padding: 1px;
    padding-left: 2px;
    padding-bottom: 2px;
    color: #000000;
    border: 1px #000000 solid;
    width: 200px;
    background-color: #F6F6F6;
}

.textarea {
    font: 10px verdana, geneva, arial, sans-serif;
    padding: 1px;
    padding-left: 2px;
    padding-bottom: 2px;
    color: #000000;
    border: 1px #000000 solid;
    width: 400px;
    background-color: #F6F6F6;
}

.submenu {
    padding-top: 5px;
    padding-left: 5px;
}

/* anchor styles */

a.menu {
    font: 10px verdana, geneva, arial, sans-serif;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

a.menu:hover {
    color: #FFFFFF;
}

a.submenu {
    font: 9px verdana, geneva, arial, sans-serif;
    color: #000000;
    text-decoration: none;
}

a.submenu:hover {
    color: #FFFFFF;
}

/* Page Structure:Modules
#header {position:relative;border-bottom:5px solid #036;height:73px;}
#header img {top:23px;position:absolute;}
#header .partnerLogo {right:0;top:1.5em;}
#header .helpLink {bottom:20px;right:15px;position:absolute;}
#title {margin:10px 0;}
#title:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
#title h2 {float:left;color:#c88039;font-size:1.5em;margin-top:10px;}
#title img {float:right;}
#content h3 {color:#333;}
#content .callout {float:left;padding:2.33em 2.5em;border:1px solid #aeb9c6;background:url(../images/en_US/scr_gradient_1x265.gif) repeat-x left bottom;}
#content .callout.above {margin-bottom:1.2em;}
#content .buttons {padding-top:1.67em;margin-top:0;}
ul.progressMeter{margin:13px 0 23px 0;padding:0;}
ul.progressMeter li{display:inline;padding-right:10px;margin:0;}
ul.progressMeter li strong.stepNumber {font-size:15px;color:#666;}
ul.progressMeter li strong.stepNumber.underLn{border:1px solid #c88039;color:#c88039;padding:0 2px 0 2px;}
ul.progressMeter li span.stepInfo, ul.progressMeter li strong.stepInfo {border-left:1px solid #ccc;padding:7px 0 7px 6px;color:#666;font-size:11px;}
ul.progressMeter li strong.stepInfo.specialColor{color:#c88039;border:none !important;font-weight:normal;padding-left:2px !important;}
ul.progressMeter li.stepBilling{border:none;}
ul.progressMeter li span.stepInfo.grayColInfo{border-left:1px solid #ccc;color:#ccc;}
ul.progressMeter li strong.stepNumber.grayColStep{color:#ccc;}
#welcomePage .callout .calloutMsg {width:20.6em;float:left;}
#welcomePage .callout .calloutAction {width:37em;float:left;}
#welcomePage .callout .calloutMsg h3 {color:#666 !important;margin-bottom:0.3em;}
#welcomePage .callout .calloutMsg .note {font-size:0.9em;color:#757575;}
#welcomePage .calloutAction ol, ol li.steps ul {margin:0;list-style-type:none;}
#welcomePage ol li.steps {margin-left:0;margin-bottom:1.3em;float:left;width:96%;}
#welcomePage ol li.steps ul {padding:0;margin-top:0.75em;}
#welcomePage ol li.steps ul li {margin:0;}
#welcomePage ol li.steps ul.nested li {list-style-type:disc;margin:0 0 0 1.2em;}
#welcomePage ol li.steps div {margin-left:1.35em;}
#welcomePage ol li.steps.last {margin-bottom:0;}
#welcomePage ol.pointMarker {float:left;}
#welcomePage ol.pointMarker li.steps div {margin-left:2.15em;}
#welcomePage ol.pointMarker li.steps {background:url(../../_img/Flow2_bullet.gif) no-repeat 0 5px;}
#welcomePage ol li.steps div.listNumber {margin:-3px 0 0 0;color:#888;border-right:1px solid #ccc;padding-right:2px;float:left;font-size:1.5em;}
#welcomePage ol li.steps div.listContent {float:left;padding-left:1px;}
#welcomePage p.footNote {color:#757575;clear:both;padding:2em 0 0 2.15em;margin:0;}
#welcomePage dl.footNotes {float:left;clear:both;width:34em;padding:2em 0 0 2.15em;margin:0;}
#welcomePage dl.footNotes .marker {padding-right:0.3em;}
#welcomePage dl.footNotes dd {margin:0 0 1em 0}
#welcomePage dl.footNotes dd.last {margin:0;}
#welcomePage dl.footNotes dd.light {color:#757575;}
span.footNote {color:#757575;}
*/