#searchContainer {
    background-color: #E2E2E2;
    font-size: 12px;
}
#searchContainer input, #searchContainer select {
    font-size: 12px;
    width: 24ex;
}
#searchContainer td {
    font-size: 12px;
}
#searchContainer table {
    margin-left: auto;
    margin-right: auto;
}
#searchContainer .tableLabel {
    text-align: right;
}
#searchICNDiv {
    font-size: 16px;
    border-bottom-width: 3px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    padding: 5px;
}
#advSearchDiv {
    display: none;
    padding: 4px;
    text-align:center; /* ie8 fix */
    background-color: 	#F2EFEF;
}
#advSearchDivSilOrder {
    padding: 4px;
    text-align:center; /* ie8 fix */
    background-color: 	#F2EFEF;
}
#advSearchButtonDiv {
    float: right;
    clear:both;
}