
/* general elements styles */

body {
    margin: 0;
    font: 10px verdana, geneva, arial, sans-serif;
    color: #000000;
    background-color: #FFFFFF;
}

input { cursor: hand;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px; 
    color: #000000; 
    text-decoration: none; 
    background-color: #ffffff; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    padding-top: 2px; 
    padding-right: 3px; 
    padding-bottom: 2px; 
    padding-left: 3px; 
    border: #000000; 
    border-style: solid; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px
}

td, th, .bod, font {
    font: 10px verdana, geneva, arial, sans-serif;
    color: #000000;
}

b, strong {
    font-weight: bold;
}

a {
    font: 10px verdana, geneva, arial, sans-serif;
    color: #485C98;
    text-decoration: none;
}

a:hover {
    color: #687FC0;
}

/* custom styles */

.logo {
    font: 15px Georgia, Times;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    width: 122px;
    height: 19px;
    background-color: #22397A;
    position: absolute;
    top: 15px;
    left: 0px;
    z-index: 10;
}

.td2 {
    BORDER-BOTTOM: #96965e 1px solid;
}

.headerl {
    font: 12px verdana, geneva, arial, sans-serif;
    color: #ffffff;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-LEFT: #000000 1px solid;
}

.header {
    font: 13px verdana, geneva, arial, sans-serif;
    color: #000000;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.section {
    font: 11px verdana, geneva, arial, sans-serif;
    color: #000000;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.copy {
    font: 10px verdana, geneva, arial, sans-serif;
    color: #000000;
    padding-bottom: 5px;
}

.listrow1 {
    font: 10px verdana, geneva, arial, sans-serif;
    color: #000000;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 2px;
}

.listrow0 {
    font: 10px verdana, geneva, arial, sans-serif;
    color: #000000;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 2px;
    text-decoration: line-through;
}

.formlabel {
    font: 10px verdana, geneva, arial, sans-serif;
    font-weight: bold;
    color: #000000;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.banner {
    padding-top: 15px;
    padding-bottom: 10px;
}

.dotrule {
    background-image: url(../_img/bg_15dot_rule.gif);
}

.error {
    padding-top: 15px;
    color: #990000;
}

.paging {
    padding-top: 5px;
    padding-bottom: 5px;
}

.forumhead {
    background: #cccccc;
    padding: 6px;
    margin-bottom: 6px;
}

.forumreplyhead {
    color: #333333;
	margin-bottom: 12px;
}

/* form field styles */

.textfield {
    font: 10px verdana, geneva, arial, sans-serif;
    padding: 1px;
    padding-left: 2px;
    padding-bottom: 2px;
    color: #000000;
    border: 1px #000000 solid;
    width: 200px;
    background-color: #F6F6F6;
}

.textarea {
    font: 10px verdana, geneva, arial, sans-serif;
    padding: 1px;
    padding-left: 2px;
    padding-bottom: 2px;
    color: #000000;
    border: 1px #000000 solid;
    width: 400px;
    background-color: #F6F6F6;
}

.numberarea {
    font: 10px verdana, geneva, arial, sans-serif;
    padding: 1px;
    padding-left: 2px;
    padding-bottom: 2px;
    color: #000000;
    border: 1px #000000 solid;
    width: 100px;
    background-color: #F6F6F6;
}

.submenu {
    padding-top: 5px;
    padding-left: 5px;
}

/* anchor styles */

a.menu {
    font: 10px verdana, geneva, arial, sans-serif;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

a.menu:hover {
    color: #FFFFFF;
}

a.submenu {
    font: 9px verdana, geneva, arial, sans-serif;
    color: #000000;
    text-decoration: none;
}

a.submenu:hover {
    color: #FFFFFF;
}

.T
{
    SPACING-RIGHT: 0px;
    SPACING-LEFT: 0px;
    BACKGROUND-COLOR: #4791c5
}
.G
{
    COLOR: #ffffff;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-LEFT: #000000 1px solid;
}

SMALL, PRE {
	FONT: normal 9px/1 Arial, sans-serif;
	COLOR:#993300
}

FIELDSET {
	FONT: normal 10px/1 Arial, sans-serif;
	BACKGROUND: white;
}
BUTTON, INPUT, SELECT, TEXTAREA {
	FONT: normal 10px/1 Arial, sans-serif;
	cursor: default;
}

DIV.outer {
	BACKGROUND: url(../../_img/bars2.gif) no-repeat 0px -37px;
	FLOAT: left; 
	MARGIN: 0px 2px 0px 0px;
	WIDTH: 90px;
	HEIGHT: 19px
}
DIV.outer A {
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	PADDING-LEFT: 0px;
	BACKGROUND: url(../../_img/bars2.gif) no-repeat left top;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	FONT: bold 9px/1 Arial, sans-serif;
	OVERFLOW: hidden;
	WIDTH: 100%;
	COLOR: #039;
	PADDING-TOP: 0px;
	HEIGHT: 100%;
	TEXT-DECORATION: none
}
DIV.outer SPAN {
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 7px
}
DIV.outer A:hover {
	BACKGROUND-IMAGE: none;
	COLOR: yellow;
}
DIV.outer A:active {
	COLOR: black
}
.leg {border-bottom:1px solid #0066cc}

